.fileInputWrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
  }
  
  .fileInput {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .fileInputLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #b43316;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fileInputLabel:hover {
    background-color: #b43316;
  }
  
  .fileName {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
  }
  